@import "vars";


/*==========  Desktop First  ==========*/

@media screen and (max-width: 1920px) {
  .catalog-carousel {
    max-width: 1200px;

    .slick-list {
      &:before, &:after {
        display: none;
      }
    }
  }
}
@media screen and (max-width: 1750px) {
  .main-promo {
    &__girl {
      width: 400px;
      height: 400px;
      overflow: hidden;
      border-radius: 100%;
      margin-left: 60px;
      background: rgba(255, 208, 208, 0.35);
      border: 10px solid rgba(252, 222, 222, 0.55);
      margin-top: 150px;

      img {
        display: block;
        margin: 0 auto;
        width: auto;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }
    
  }
}

@media screen and (max-width: 1500px) {
  .arrow--default {
    top: -40px;
    &-right {
      right: 50px;
    }
    &-left {
      left: 50px;
    }
  }
  .home-hero {
    padding-bottom: 60px;
    &__inner {
      flex-wrap: wrap;
    }
  }

  .hero-catalog-slider {
    position: static;
    margin-right: auto;
    margin-left: auto;
  }

  .hero-carousel {
    width: 100%;
    max-width: 60%;
  }

  .main-promo {
    margin-left: 112px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    order: -1;
    width: 100%;
    justify-content: center;
    padding-top: 45px;
    &__block {
      margin-top: 0;
      padding: 20px 25px 20px 210px;
      background-color: #fff;
    }
    &__girl {
      margin-top: 0;
    }    
  }

  .hero-catalog-slider {
    &__item {
      height: 330px;
      max-width: 240px;
    }
  }

  .main-nav {
    margin-left: auto;
  }

  .hero-catalog-slider {
    flex-wrap: wrap;

    &__arrows {
      width: 100%;
      justify-content: center;
      margin-bottom: 20px;
    }
  }
}

// ≥1200px
@include media-breakpoint-down(lg) {

  .order-total {
    margin-left: 0;
    padding: 40px;
    width: 100%;
    order: -1;
    &__row {
      &--padding {
        padding-left: 0;
      }
    }
  }

  .form-doubled--big .order-form {
    max-width: 100%;
    padding: 40px;
  }
  
  .tabs {
    > li {
      margin-bottom: 20px;
    }
  }
  .table--responsive-xl {
    margin-bottom: 0;
    background-color: transparent;
    > thead,
    > tfoot {
      display: none;
    }

    > tbody {
      display: block;

      > tr {
        display: block;
        border: 1px solid #333;
        border-radius: 2px;
        margin-bottom: 20px;

        > td {
          background-color: #fff;
          display: block;
          vertical-align: middle;
          text-align: right;
          padding: 30px 25px!important;
        }
        > td[data-title]:before {
          content: attr(data-title);
          float: left;
          font-size: inherit;
          font-weight: 700;
          color: $brown;
        }
      }
    }
  }

  .form-doubled {
    flex-direction: column;
  }
  .contact-form--size-medium {
    max-width: 100%;
  }
  .catalog-carousel {
    max-width: 992px;
    .catalog-item {
      max-width: 280px;
      margin-right: auto;
      margin-left: auto;
      display: block !important;
      &__main {
        height: 350px;
      }
    }
  }
  .main-header {
    &--fixed,
    &--default {
      .main-nav {
        margin-left: auto;
        margin-right: auto; 
      }
    }
  }
  .page-leafs {
    display: none;
  }
  .contact-block {
    &__data {
      font-size: 22px;

      &--doubled {
        flex-direction: column;
      }

      &-row {
        &:not(:last-child) {
          margin-right: 0;
          margin-bottom: 20px;
        }

      }
    }
  }
  .features--inset {
    margin-top: 0;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .hero-catalog-slider {
    max-width: 860px;
  }
  .about-girl {
    right: 0;
    width: 390px;
    float: right;
  }
  .feature-circle-outer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
	.section-insta {
    background-size: cover;
  }
  .catalog-item {
    max-width: 290px;
    &__main {
      height: 380px;
    }
  }

  .cart-table {

    > thead,
    > tbody,
    > tfoot {
      > tr {
        > th,
        > td {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;

          .table__content {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            width: 100%;
          }

          &:before {
            margin-bottom: 10px;
            float: none;
            width: 100%;
            text-align: center;
          }
          &:first-child {
            width: 100%;
            &:before {
              display: none;
            }
          }
        }
      }
    }
    
  }

  .cart-table__info {
    justify-content: center;
  }

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) { //IE 11 hack
     .section-insta__outer {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
     }
  }
}

// ≥992px
@include media-breakpoint-down(md) {
  .table--responsive-lg {
    margin-bottom: 0;
    background-color: transparent;
    > thead,
    > tfoot {
      display: none;
    }

    > tbody {
      display: block;

      > tr {
        display: block;
        border: 1px solid #333;
        border-radius: 2px;
        margin-bottom: 20px;

        > td {
          background-color: #fff;
          display: block;
          vertical-align: middle;
          text-align: right;
        }
        > td[data-title]:before {
          content: attr(data-title);
          float: left;
          font-size: inherit;
          font-weight: 700;
          color: $brown;
        }
      }
    }
  }
  .catalog-item {
    max-width: 325px;
  }
  
  .catalog-banner {
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 20px;
    &__button {
      justify-content: center;
    }
    &__text {
      align-items: center;
      margin-bottom: 20px;
    }
  }
  .catalog-carousel {
    max-width: 768px;
  }
  .catalog-item {
    &__main {
      height: 430px;
    }
    &__one-click {
      display: none;
    }
    &__control {
      display: none;
    }
  }
  .page-info {
    padding-top: 30px;
    text-align: center;
    &__button {
      margin-bottom: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      &::before {
        display: none;
      }
    }
    &__title {
      font-size: 48px;
    }
  }
  .main-header {
    &--fixed, 
    &--default {
      height: auto;
      padding-bottom: 20px;
    }
  }
  .section-contacts {
    min-height: auto; 
  }
  .contact-block {
    margin-top: 40px;
  }
  .home-hero {
    padding-bottom: 40px;
  }
  .promo-item__image {
    margin-bottom: 20px;
  }
  .promo-item-outer {
    &:not(:last-child) {
      margin-bottom: 60px;
    }
  }
  .home-hero__inner {
    padding-right: 40px;
    padding-left: 40px;
  }
  .hero-catalog-slider {
    max-width: 570px;
  }
  .logo {
    text-align: center;
    padding: 10px;
    order: 0;
  }
  .header-cart {
    order: 1;
  }
  .main-nav {
    order: 2;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
  }
  .social-links {
    &--hero {
      display: none;
    }
  }

  .main-promo {
    flex-direction: column;
    margin-left: 0;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
    order: 0;
    &__block {
      padding: 0;
      background-color: transparent;
      border-left: 0;
      order: 1;
      width: 100%;
      text-align: center;
    }
    &_girl {
      order: 0;
      margin-top: 20px;
      margin-left: 0;
    }
    &__title, &__button {
      margin-right: auto;
      margin-left: auto;
    }
  }
  .hero-carousel {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    order: 1;
  }
  .ui-dots {
    justify-content: center;
  }
  .about-girl-container {
    display: none;
  }
  .section-about {
    min-height: auto;
  }
  .single-review {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__image {
      margin-right: 0;
      margin-bottom: 40px;
    }
  }
  .section-help {
    min-height: auto;
  }
  .form-doubled {
    flex-direction: column;

    .contact-form {
      order: 0;
      max-width: 100%;
    }

    .form-description {
      order: 1;
      padding: 40px;
    }
  }
  .form {
    &__field {
      &--half {
        max-width: 100%;
      }
    }
  }
  .footer-links {
    &__row {
      flex-wrap: wrap;
      margin-bottom: 40px;
    }
    &__col {
      max-width: 33% !important;  
      min-width: auto !important; 
    }
  }
  .main-footer {
    .social-links {
      margin-top: 30px;
      justify-content: center;
      align-items: center;
      width: 100%;  
    }
  }
  .mega-menu {
    &__search {
      margin-bottom: 20px;
    }
    &__col-menu--line {
      margin-top: 40px;
    }
  }



}

// ≥768px
@include media-breakpoint-down(sm) {
  .table--responsive-md {
    margin-bottom: 0;
    background-color: transparent;
    > thead,
    > tfoot {
      display: none;
    }

    > tbody {
      display: block;

      > tr {
        display: block;
        border: 1px solid #333;
        border-radius: 2px;
        margin-bottom: 20px;

        > td {
          background-color: #fff;
          display: block;
          vertical-align: middle;
          text-align: right;
        }
        > td[data-title]:before {
          content: attr(data-title);
          float: left;
          font-size: inherit;
          font-weight: 700;
          color: $brown;
        }
      }
    }
  }
  .catalog-item {
    max-width: 505px;
  }
  .footer-contacts {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
  }
  .section-insta {
    &__block {
      margin-bottom: 20px;
    }
  }
  .hero-carousel {
    max-width: 100%;
  }

  .headline {
    font-size: 40px;
    line-height: 60px;
    &--small {
      font-size: 24px;
      line-height: 1.3;
    }
    &--medium {
      font-size: 34px;
      line-height: 1.3;
    }
  }
  .hero-catalog-slider__item {
    height: 260px;
    max-width: 180px;
  }
  .hero-catalog-slider {
    max-width: 500px;
  }


}

// ≥576px
@include media-breakpoint-down(xs) {
  .product-image {
    height: 450px;
  }
  .catalog-thumbs {
    margin-right: 0;
    margin-top: 15px;
    max-width: 100%;
    
    &__main {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  }
  .tabs {
    > li {
      width: 100%;
      text-align: left;
      &:not(:last-child) {
        margin: 0 0 20px 0;
      }
    }
  }
  .table--responsive-xl>tbody>tr>td {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 15px !important;
    &:before {
      margin-bottom: 10px;
    }
  }
  .table--responsive-sm {
    margin-bottom: 0;
    background-color: transparent;
    > thead,
    > tfoot {
      display: none;
    }

    > tbody {
      display: block;

      > tr {
        display: block;
        border: 1px solid #333;
        border-radius: 2px;
        margin-bottom: 20px;

        > td {
          background-color: #fff;
          display: block;
          vertical-align: middle;
          text-align: right;
        }
        > td[data-title]:before {
          content: attr(data-title);
          float: left;
          font-size: inherit;
          font-weight: 700;
          color: $brown;
        }
      }
    }
  }
  
  .page-info__title {
    font-size: 36px;
  }
  .main-header {
    padding-left: 0;
    padding-right: 0;
    &--fixed,
    &--default {
      .megamenu-button {
        margin-right: auto;
        margin-left: auto;
      }
    }
  }
  .mega-menu {
    text-align: center;
    &__top {
      flex-direction: column-reverse;
      .close-button {
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 30px;
      }
    }
    &__info {
      margin-right: 0;
    }
    &__item {
      font-size: 20px;
      &--big {
        font-size: 30px;
      }
    }
    &__header {
      font-size: 36px;
    }
    &__col-menu {
      justify-content: center;
      align-items: center;
      &--padding {
        padding-left: 15px;
      }
    }
  }
  .footer-links {
    text-align: center;
    &__col {
      max-width: 100% !important; 
      margin-bottom: 20px;
      max-width: 100%;
    }
  }
  .section-padding {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .contact-block {
    &__data {
      font-size: 18px;
    }
  }
  .shiny-title {
    font-size: 20px;
  }
  .headline {
    font-size: 32px;
    line-height: 60px;
    &--small {
      font-size: 22px;
      line-height: 1.3;
    }
    &--medium {
      font-size: 30px;
      line-height: 1.3;
    }
  }
  .form {
    $self: &;

    &__disclamer {
      margin-left: 0;
      margin-top: 20px;
      text-align: center;
    }

    &__row{
      &--disclamer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }

    &--popup {
      max-width: 710px;
      width: 100%;
  
      #{ $self }__header {
        font-size: 24px;
        max-width: 100%;
        margin-bottom: 34px;
      }
      
    }
  }

  .single-review {
    padding: 50px 15px;
  }
  .section-about {
    text-align: center;
  }
  .hero-catalog-slider {
    max-width: 220px;

    &__arrows-title {
      display: none;
    }
  }
  .main-promo {
    overflow: hidden;
  }
  .logo {
    width: 250px;
    height: 75px;
  }
  .header-cart {
    width: 65px;
    height: 65px;
  }
  .main-nav {
    margin-right: auto;
    > ul {
      display: none;
    }
  }
  .main-promo__girl {
    border: none;
    background: none;
  }
  .section-insta__block {
    &:after, &:before {
      display: none;
    }
  }

}


/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {

}

// ≤768px
@include media-breakpoint-up(md) {

}

// ≤992px
@include media-breakpoint-up(lg) {

}

// ≤1200px
@include media-breakpoint-up(xl) {
  .section-insta .container {
    max-width: 1200px;  
  }
	
}

@media screen and (min-width: 1980px) {
  .main-promo {
    margin-left: 15%;
  }

}

@media screen and (min-width: 2200px) {
  .hero-carousel {
    max-width: 700px;

    &__inner {
      max-width: 700px;
    }
  }
}