$default-font: "CenturyGothic", Arial, Helvetica, sans-serif;
$secondary-font: "TT Norms", Arial, Helvetica, sans-serif;
$accent: #f37e7e;
$brown: #3e3130;
$pink:#fbe6e7;
$bright-pink:#f05f5f;

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1170px);

$gutter: $grid-gutter-width;
