@import "vars";
@import "fonts";
@import "libs";

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

body {
	font-size: 18px;
	min-width: 320px;
	position: relative;
	line-height: 1.66;
	font-family: $default-font;
	overflow-x: hidden;
	color: $brown;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}

.app {
	overflow: hidden;
	position: relative;
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}

b, strong {
	font-weight: bold;
}

a {
	color: $brown;
	transition: color .2s cubic-bezier(0.215, 0.610, 0.355, 1) ;
	&:hover {
		color: $bright-pink;	
		text-decoration: none;
	}
}

.svg-icon {
	width: 100%;
	height: 100%;
	overflow: hidden;

	&--plus {
		fill: $bright-pink;
	}
}

.main-header-wrap {
	&--fixed {
		margin-top: -1px;
		box-shadow: 0px 6px 24px 0px rgba(14, 20, 47, 0.05);
		background-color: rgb(253, 233, 234);
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		right: 0;
		z-index: 500;
	}
	&--default {
		margin-top: -1px;
		box-shadow: 0px 6px 24px 0px rgba(14, 20, 47, 0.05);
		background-color: #ffffff;
		width: 100%;
	}
}

.main-header {
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	&--fixed {
		height: 70px;
		
		.logo {
			height: 75px;
			width: 205px;
			padding: 10px 0 10px 0;
		}
		.main-nav {
			margin-left: 370px;
			font-size: 12px;
			ul>li:not(:last-child) {
				margin-right: 40px;
			}
		}
		.megamenu-button {
			margin-left: 133px;
		}
		.header-cart {
			width: 70px;
			height: 70px;
			&::before {
				border-right: 3px solid #f05f5f;
			}
			&:hover::before {
				width: calc(100% + 20px);
			}
		}
	}
	&--default {
		height: 70px;
		
		.logo {
			height: 75px;
			width: 205px;
			padding: 10px 0 10px 0;
		}
		.main-nav {
			margin-left: 370px;
			font-size: 12px;
			ul>li:not(:last-child) {
				margin-right: 40px;
			}
		}
		.megamenu-button {
			margin-left: 133px;
		}
		.header-cart {
			width: 70px;
			height: 70px;
			&::before {
				border-right: 3px solid #f05f5f;
			}
			&:hover::before {
				width: calc(100% + 20px);
			}
		}
	}
}

.logo {
	width: 300px;
	height: 85px;
	padding-left: 35px;
	padding-top: 8px;
	display: inline-block;
	img {
		height: 100%;
		width: auto
	}
}

.main-nav {
	display: flex;
	align-items: center;
	font-size: 16px;
	margin-left: 410px;
	margin-top: 5px;
	font-family: $secondary-font;
	
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		> li {
			display: inline-flex;
			&:not(:last-child) {
				margin-right: 50px;
			}
			> a {
				display: inline-block;
				padding-top: 9px;
				padding-bottom: 9px;
				padding-left: 19px;
				padding-right: 0;
				position: relative;
				font-weight: 700;
				text-transform: uppercase;
				line-height: 1;
				white-space: nowrap;
				text-overflow: ellipsis;
				z-index: 1;
				overflow: hidden;
				transition: color 300ms cubic-bezier(0.23, 1, 0.320, 1);

				&::before {
					content: '';
					display: block;
					position: absolute;
					top: 0;
					bottom: 0;
					right: 0;
					background-color: $accent;
					width: 0px;
					z-index: -1;
					transition: width 600ms cubic-bezier(0.23, 1, 0.320, 1);
				}

				&:hover {
					color: #ffffff;
					text-decoration: none;
					
					&::before {
						width: 100%;
					}
				}
			}
		}
	}
}

$burger-line-h: 3px;

.megamenu-button {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 25px;
	height: 22px;
	cursor: pointer;
	margin-left: 68px;
	transition: transform 1s cubic-bezier(1, 0, 0, 1);

	&__line {
		display: inline-block;
		width: 100%;
		background-color: $brown;
		height: $burger-line-h;
		transition: background-color .5s cubic-bezier(0.215, 0.610, 0.355, 1);
	}

	&::before, &::after {
		content: '';
		display: inline-block;
		width: 15px;
		height: $burger-line-h;
		background-color: $brown;
		transition: background-color .5s cubic-bezier(0.215, 0.610, 0.355, 1);
	}

	&:hover {
		transform: rotate(180deg);
		.megamenu-button__line,
		&::before,
		&::after {
			background-color: $bright-pink;
		}
	}
}

.header-cart {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80px;
	height: 80px;
	background-color: $bright-pink;
	position: relative;
	cursor: pointer;
	align-self: flex-start;
	margin-left: auto;
	font-family: $secondary-font;

	&__count {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 20px;
		height: 20px;
		border-radius: 100%;
		background-color: #ffffff;
		font-size: 12px;
		font-weight: bold;
		line-height: 1;
		position: absolute;
		top: -10px;
		right: -13px;
	}

	&__inner {
		position: relative;
	}

	.svg-icon {
		width: 26px;
		height: 25px;
		fill: $brown;
	}

	&::before {
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		bottom: 0;
		border-left: 3px solid $bright-pink;
		border-bottom: 3px solid $bright-pink;
		z-index: 0;
		transition: all 200ms;
		transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275)
	}

	&:hover {
		&:before {
			width: calc(100% + 10px);
			height: calc(100% + 10px);
			left: -10px;
			bottom: -10px;
		}
	}
}

.home-hero {
	background-color: $pink;
	background: $pink url('../img/home/hero-main/hero-bg.jpg') center center no-repeat;
	background-size: cover;
	position: relative;

	&__inner {
		display: flex;
	}
}

.social-links {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	
	&--hero {
		flex-direction: column;
		max-width: 40px;
		margin-left: 92px;
		margin-top: 55px;
		margin-right: 63px;

		.social-links__item {
			&:not(:last-child) {
				margin-bottom: 10px;
				margin-right: 0;
			}
		}

		&::before, &::after {
			content: '';
			width: 2px;
			height: 60px;
			background-color: #ffffff;
		}
	
		&:before {
			margin-bottom: 40px;
		}
	
		&::after {
			margin-top: 40px;
			height: 180px;
		}
	}	

	&__item {
		display: inline-flex;
		width: 40px;
		height: 40px;
		align-items: center;
		justify-content: center;
		border: 3px solid #fff;
		position: relative;
		z-index: 1;

		&:not(:last-child) {
			margin-right: 10px;
		}
 
		&::before {
			content: '';
			width: 0px;
			height: 100%;
			background-color: #ffffff;
			top: 0;
			right: 0;
			z-index: -1;
			position: absolute;
			transition: width 600ms cubic-bezier(0.23, 1, 0.320, 1);
		}
		
		&:hover {
			&::before {
				width: 100%;

			}
		}

		&--pink {
			border-color: #f7afaf;

			&::before {
				background-color: #f7afaf;
			}

			&:hover {
				.svg-icon {
					fill: #fff;
				}
			}
		}
	}

	.svg-icon {
		width: 18px;
		height: 18px;
		transition: fill 600ms cubic-bezier(0.23, 1, 0.320, 1);
	}
}

.upper-text {
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 0.45px;
	text-transform: uppercase;
}

.ui-counter {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	display: inline-flex;
	margin-bottom: 2px;
	font-family: $secondary-font;

	&-item {
		color: #3e3130;

		&--grey {
			opacity: .5;
		}
	}
}

.hero-carousel {
	margin-top: 75px;
	max-width: 530px;

	&__text {
		line-height: 30px;
		letter-spacing: 0.45px;
		color: transparentize($brown, .2);
	}

	&__pagination {
		margin-top: 65px;
	}

	&__inner {
		padding-bottom: 15px;
	}

	.button {
		margin-top: 30px;
	}

	.headline {
		margin-bottom: 30px;
	}
}

.ui-dots {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 0;
	margin: 0;
	list-style: none;
	padding-bottom: 20px;

	button {
		appearance: none;
		background: none;
		border: none;
		position: relative;
		outline: none;
		display: inline-flex;
		flex-direction: column;
		cursor: pointer;
		position: relative;
		font-size: 14px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.42px;
		color: transparent;
		padding-right: 3px;
		padding-left: 3px;
		z-index: 20;

		&::after {
			content: '';
			width: 6px;
			height: 6px;
			border: 3px solid transparent;
			display: inline-block;
			background-color: $brown;
			opacity: .5;
			transition: opacity 200ms;
			transition-timing-function: ease;
			position: absolute;
			bottom: -10px;
			left: calc(50% - 3px);
		}
	}

	.slick-active {
		button {
			color: $brown;
			&:after {
				width: 10px;
				height: 10px;
				opacity: 1;
				border-color: $brown;
				background-color: transparent;
				bottom: -12px;
				left: calc(50% - 5px);
			}
		}
	}
}

.ui-scrollbar {
	-webkit-overflow-scrolling: touch;

	&::-webkit-scrollbar-track {
		background-color: rgba(255, 255, 255, 0.5);
	}

	&::-webkit-scrollbar {
		width: 4px;
		background-color: #F5F5F5;
		cursor: pointer;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background-color: $bright-pink;
	}
}

.shiny-title {
	margin-bottom: 5px;
	font-size: 24px;
	font-style: italic;
	font-weight: bold;
	color: $bright-pink;
	
	&--medium {
		font-size: 21px;
		margin-bottom: 1em;
	}
}

.headline {
	font-size: 55px;
	font-weight: normal;
	line-height: 75px;
	margin-bottom: 1em;

	&--medium {
		font-size: 48px;
		line-height: 1.3;
		margin-bottom: 0.7em;
	}

	&--small {
		font-size: 25px;
		line-height: 1.3;
	}
}

.sub-headline {
	margin-bottom: 70px;
	font-size: 30px;
}

.button {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.45px;
	line-height: 1;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border: none;
	cursor: pointer;
	font-family: $secondary-font;

	&--size {
		&-smallmd {
			min-width: 150px;
			min-height: 50px;
			height: 50px;
			padding-top: 15px;
			padding-bottom: 15px;
			padding-left: 25px;
			padding-right: 25px;
		}

		&-medium {
			min-height: 50px;
			min-width: 180px;
			height: 50px;
			padding-top: 15px;
			padding-bottom: 15px;
			padding-right: 50px;
			padding-left: 50px;			
		}

		&-small {
			min-width: 125px;
			min-height: 35px;
			height: 35px;
			padding-left: 8px;
			padding-right: 8px;
			padding-top: 12px;
			padding-bottom: 12px;
			
			.svg-icon {
				width: 11px;
				height: 11px;
			}
		}
	}

	&--theme {
		&-default {
			background-color: $bright-pink;
			color: #ffffff;
			position: relative;
			transition: transform 200ms;
			transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);

			&::before {
				content: '';
				display: block;
				position: absolute;
				width: 100%;
				height: 100%;
				bottom: 0;
				right: 0;
				border: 3px solid $bright-pink;
				transition: bottom 250ms, right 300ms;
				transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275)
			}

			&:hover {
				color: #ffffff;
				text-decoration: none;

				&::before {
					right: -10px;
					bottom: -10px;
				}
			}

			&:active {
				transform: scale(0.975);
			}
		}

		&-ghost {
			border: 1px solid $bright-pink;
			position: relative;
			z-index: 1;
			overflow: hidden;
			transition: color 300ms ease;

			.svg-icon {
				transition: fill 200ms ease;
				margin-right: 5px;
			}
			
			&::before {
				content: '';
				width: 0px;
				height: 100%;
				background-color: $bright-pink;
				top: 0;
				right: 0;
				z-index: -1;
				position: absolute;
				transition: width 600ms cubic-bezier(0.23, 1, 0.320, 1);
			}
			
			&:hover {
				color: #fff;
				text-decoration: none;

				.svg-icon {
					fill: #fff !important;
				}

				&::before {
					width: 100%;

				}
			}

			&-bold {
				border-width: 3px;
				font-weight: bold;
			}

			&-red {
				color: $bright-pink;
			}
		}
	}
}

.main-promo {
	display: flex;
	align-items: flex-start;
	margin-left: 210px;

	&__block {
		margin-top: 193px;
		padding-top: 16px;
		padding-bottom: 20px;
		border-left: 3px solid #fff;
		padding-left: 35px;
	}

	&__title {
		max-width: 195px;
		margin-bottom: 0;
	}

	&__price {
		font-weight: bold;
		font-size: 30px;
		font-style: italic;
		line-height: 1;
		margin-top: 35px;
		margin-bottom: 27px;
		position: relative;
		z-index: 1;
		display: inline-block;
		padding-bottom: 1px;


		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 15px;
			z-index: -1;
			background-color: #ffffff;
		}

		svg {
			margin-left: 8px;
			width: 18px;
			height: 22px;
		}
	}

	&__button {
		position: relative;
		max-width: 125px;

		&::after {
			content: '';
			position: absolute;
			left: calc(100% + 70px);
			top: calc(50% - 1.5px);
			height: 3px;
			width: 110px;
			background-color: $brown;
		}
	}

	&__girl {
		margin-left: 213px;
		user-select: none;
	}
}

.hero-catalog-slider {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	bottom: -105px;
	left: 200px;
	max-width: 1170px;
	font-family: $secondary-font;	
	width: 100%;

	.slick-slide {
		width: 260px;
		margin-right: 17px;
		margin-left: 17px;
	}

	&__item {
		max-width: 260px;
		height: 350px;
		display: flex !important;
		justify-content: flex-end;
		align-items: flex-end;
		position: relative;
		transition: transform 200ms;
		transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
		z-index: 1;
	
		&::before {
			content: '';
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			bottom: -10px;
			right: -10px;
			border: 3px solid $bright-pink;
			transition: background-color 250ms, right 300ms;
			transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
			z-index: -1;
		}
	
		&:hover {
			color: $brown;
			text-decoration: none;
	
			&::before {
				background-color: $bright-pink;
			}
		}
	
		&:active {
			transform: scale(0.975);
		}
		
		img {
			position: absolute;
			top: 0;
			left: 0;
			object-fit: cover;
			object-position: center;
			width: 100%;
			height: 100%;
			z-index: -1;
		}
	}

	&__inner {
		width: 100%;
		min-height: 0;
		min-width: 0;
		position: relative;
		z-index: 1;
		width: calc(100% + 30px); //we need more width for the shadows on the edges
		padding: 0 15px; //space for the shadows
		padding-bottom: 15px;
    margin-left: -15px; //put the div in its original position
		overflow: hidden; //hide the overflow
		
		.slick-list {
			overflow: visible;
		}

		&::after {
			content: '';
			width: calc(100% + 30px);
			height: 100%;
			background-color: #ffffff;
			z-index: -1;
			position: absolute;
			top: 50px;
			left: -30px;
			border-bottom: 3px solid #feefef;
		}
	}

	&__arrows {
		display: flex;
		flex-shrink: none;
		justify-content: flex-start;
		align-items: center;
		margin-right: 45px;
		min-width: 245px; //IE11 - need exact measurement

		&-title {
			margin-right: 35px;
		}

		&-inner {
			display: inline-flex;
			justify-content: center;
			align-items: center;
		}
	}
}

.slick-smooth {
	opacity: 0;
	visibility: hidden;
	transition: opacity 1s ease;
	-webkit-transition: opacity 1s ease;

	&.slick-initialized {
    visibility: visible;
    opacity: 1;    
	}
}

.highlight {
	margin-right: 20px;
	margin-bottom: 20px;
	padding-left: 20px;
	padding-bottom: 9px;
	padding-top: 9px;
	line-height: 1;
	background-color: #ffffff;
	font-family: $secondary-font;
	position: relative;
	z-index: 1;
	display: inline-block;
	
	&__box {
		position: relative;
		right: -1.5px;
	}

	&::before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		background-color: $accent;
		width: 0px;
		transition: width 600ms cubic-bezier(0.23, 1, 0.320, 1);
		z-index: 0;
	}

	&:hover {
		text-decoration: none;
		color: #ffffff;
		
		&::before {
			width: 100%;
		}
	}
}

.arrow {
	appearance: none;
	outline: none;
	background: none;
	border: none;
	display: inline-flex;
	justify-content: center;
	align-items: flex-start;
	width: 55px;
	height: 30px;
	cursor: pointer;
	padding: 0;

	&.slick-disabled {
		opacity: 0.5;
	}

	&:active, &:focus {
		outline: none;
	}

	&:hover {
		.arrow__box {
			&::after {
				opacity: 0.5;
			}
		}
	}

	&:active {
		.arrow__box {
			&::after {
				opacity: .8;
			}
		}
	}

	&__box {
		transform: translateY(-5px);
		position: relative;
		z-index: 1;

		&--left {
			transform: translateY(-5px);			
		}

		.svg-icon {
			width: 40px;
			height: 12px;
		}

		&::after {
			content: '';
			position: absolute;
			right: -8px;
			top: 3px;
			width: 30px;
			height: 30px;
			background-color: $bright-pink;
			opacity: 0;
			border-radius: 100%;
			z-index: -1;
			transition: opacity 400ms;
			transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1)
		}
	}

	&--left {
		transform: rotate(180deg);
		margin-right: 20px;
	}
}

.section-bestsellers {
	padding-top: 250px;
	padding-bottom: 210px;
}

.promo-item {
	width: 100%;
	min-height: 430px;
	height: 100%;
	display: flex;
	background: $pink url(../img/home/best-cat/bg.jpg) center center no-repeat;
	background-size: cover;
	text-align: center;
	position: relative;	
	display: inline-block;
	transition: background 1.4s;
	transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
	z-index: 1;

	&__corner {
		position: absolute;
		top: 15px;
		left: 15px;
		width: 75px;
		height: 75px;
		border-top: 37.5px solid #fff;
		border-left: 37.5px solid #fff;
		border-bottom: 37.5px solid transparent;
		border-right: 37.5px solid transparent;
		z-index: 0;
		visibility: hidden;
		opacity: 0;
		transition: opacity 400ms;
		transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);

		.svg-icon {
			z-index: 1;
			position: absolute;
			top: -26px;
			left: -17px;
			width: 11px;
			height: 19px;
		}
	}

	&__inner {
		max-width: 230px;
		width: 100%;
		padding-top: 45px;
		margin-right: auto;
		margin-left: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100%;
	}

	&__name {
		width: 100%;
		font-size: 50px;
		font-weight: 400;
		line-height: 55px;
		margin-top: auto;
		margin-bottom: 30px;

		&::after {
			content: '';
			display: block;
			width: 50px;
			height: 3px;
			background-color: $brown;
			margin-right: auto;
			margin-left: auto;
			margin-top: 25px;
		}
	}

	&__image {
		position: relative;
		margin-top: auto;
		margin-bottom: -50px;
		left: calc(50% - 110px);
		max-width: 220px;
		width: 100%;
		height: 220px;
		border-radius: 100%;
		border: 12px solid #fff;
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}

	&__text {
		width: 100%;
		letter-spacing: 0.9px;
		margin: 0;
		margin-bottom: 30px;
		visibility: hidden;
		opacity: 0;
		transition: opacity 600ms;
		transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
	}

	&::before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		background-color: $accent;
		width: 0px;
		z-index: -1;
		transition: width 600ms cubic-bezier(0.23, 1, 0.320, 1);
		z-index: -1;
	}

	&:hover {
		color: #ffffff;
		text-decoration: none;
		
		&::before {
			width: 100%;
		}

		.promo-item__corner {
			visibility: visible;
			opacity: 1;
			transition-delay: 500ms;
		}

		.promo-item__name {
			&::after {
				background-color: #ffffff;
			}
		}

		.promo-item__text {
			visibility: visible;
			opacity: 1;
		}
	}	
}

.container-bordered {
	position: relative;
	z-index: 2;
	
	&::after {
		content: '';
		position: absolute;
		width: calc(100% - 7px);
		height: 100%;
		top: 10px;
		left: 3px;
		border: 3px solid $bright-pink;
		z-index: -1;
	}

	&::before {
		z-index: 0;
		content: '';
		max-width: 60%;
		width: 100%;
		height: calc(100% + 7px);
		position: absolute;
		top: 9px;
    left: 50%;
    transform: translateX(-50%);
		background-color: #ffffff;
	}

	.row {
		position: relative;
		z-index: 1;

		&::after {
			z-index: -1;
			content: '';
			width: 100%;
			height: 60px;
			position: absolute;
			top: 85px;
			left: 0;
			background-color: #ffffff;
		}
	}
}

.section-background {
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;

	&--spacing {
		margin-top: 20px;
		margin-bottom: 20px;
	}
}

.section-padding {
	padding-top: 115px;
	padding-bottom: 80px;
}

.section-contacts {
	padding-top: 135px;	
	min-height: 670px;	
}
.section-reviews {
	padding-top: 80px;	
	padding-bottom: 140px;	
}

.section-about {
	min-height: 790px;
}

.section-button {
	margin-top: 40px;
}

.about-girl {
	position: relative;
	right: -65px;
	top: 10px;
}

.about-girl-container {
	overflow: hidden;
}

.feature-circle {
	width: 260px;
	height: 260px;
	border-radius: 100%;
	background-color: #f2f1e5;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-right: 40px;
	padding-left: 40px;
	text-align: center;
	overflow: hidden;
	position: relative;
	z-index: 1;

	&:after {
		content: '';
		width: 100%;
		height: 100%;
		border-top: 50px solid #fff;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
	}

	&__icon {
		margin-bottom: 18px;
		margin-top: -35px;

		.svg-icon {
			width: 75px;
			height: 75px;

			&--dummy {
				height: 80px;
			}
		}
	}

	&__name {
		width: 100%;
		font-size: 21px;
		font-weight: 700;
		line-height: 30px;
		letter-spacing: 0.53px;
	}
}

.features {
	&--inset {
		margin-top: -50px;
	}
}


.border-circle {
	width: 260px;
	height: 260px;
	border-radius: 100%;
	background-color: #f37f7f;
	color: #ffffff;
	letter-spacing: 0.68px;
	font-weight: bold;
	font-size: 25px;
	line-height: 35px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-right: 50px;
	padding-left: 50px;
	text-align: center;
	overflow: hidden;
	position: relative;
	z-index: 1;
	border: 20px solid #fff;
	box-shadow: 0 0 0 3px #f37f7f;
	transition: background-color 600ms, border-color 4s, box-shadow 1s;
	transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);

	b {
		background-color: #ffffff;
		color: #f59898;
		display: inline-block;
		padding: 7px;
		line-height: 1;
		min-width: 94px;
		min-height: 35px;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		margin-top: 10px;
	}

	&__box {
		position: relative;
		top: -10px;
		width: 100%;
	}
	
	&:hover {
		text-decoration: none;
		color: #ffffff;
		background-color: transparentize($bright-pink, .2);
		border-color: $bright-pink;
	}
}



.section-hader {
	.shiny-title {
		margin-bottom: 0px;
	}

	.headline {
		font-size: 48px;
		margin-bottom: 40px;	
	}
}

.reviews-slider {
	position: relative;
	&__slider.slick-dotted {
		margin-bottom: 15px;
	}
	&__pagination {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__inner {
		position: relative;
	}
	&__arrows {
		display: flex;
		justify-content: space-between;
		padding-right: 30px;	
		padding-left: 30px;
		position: absolute;
		bottom: 30px;
		left: 0;	
		width: 100%;	
	}
	.ui-counter {
		position: absolute;
		right: 30px;
		top: 25px;
	}
}

.single-review {
	padding-top: 50px;
	padding-left: 50px;
	padding-bottom: 75px;
	padding-right: 100px;
	border: 3px solid #f37e7e;
	position: relative;
	z-index: 1;
	display: flex!important;

	&:before {
		width: calc(100% + 6px);
		height: 60px;
		content: '';
		position: absolute;
		top: 75px;
		left: -3px;
		background-color: #ffffff;
		z-index: -1;
	}

	&__image {
		display: inline-block;
		width: 195px;
		height: 195px;
		border-radius: 100%;
		overflow: hidden;
		box-shadow: 26px 26px 76px rgba(208, 88, 88, 0.46);
		flex-shrink: 0;
		margin-right: 75px;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}

	&__meta {
		margin-bottom: 5px;
		font-size: 22px;
		&-icon {
			display: inline-block;
			width: 18px;
			height: 18px;
			.svg-icon {
				fill: #f05f5f;
				width: 100%;
				height: 100%;
			}
		}
	}

	&__description {
		width: 100%;
	}

	&__name {
		font-size: 22px;
		color: rgba(62, 49, 48, 255);
		text-align: left;
		margin-bottom: 25px;
	}

}


.read-more {
	font-weight: bold;
}

.section-insta {
	background-image: url(../img/home/insta/bg.png);
	background-position: top center;
	background-size: 100%;
	background-repeat: no-repeat;
	padding-top: 115px;
	padding-bottom: 170px;

	.container {
		padding-right: 0;	
		padding-left: 0;	
	}

	&__image {
		max-width: 100%;
		height: 360px;
		width: 100%;
		display: inline-block;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}

	&__outer {
		margin-bottom: 30px;
	}

	&__block {
		position: relative;

		&:before, &:after {
			content: '';
			width: 100px;
			height: 3px;
			background-color: #f37f7f;
			position: absolute;
			top: 45px;
			z-index: 10;
		}
		&:before {
			transform: rotate(-45deg);
			left: -5px;
			z-index: 10;
		}
		&:after {
			transform: rotate(45deg);
			right: -5px;
		}
	}
}

.white-wrap {
	background-color: #fff;

	&--padding {
		padding: 30px;
	}
}

.image-popup {
	position: relative;

	&:before {
		content: '';
		background-color: transparentize(#3e3130, .5);
		width: 100%;
		height: 100%;
		position: absolute;
		visibility: hidden;
		opacity: 0;
	}

	.svg-icon {
		position: absolute;
		top: 30px;
		left: 25px;
		fill: #fff;
		width: 35px;
		height: 35px;
		visibility: hidden;
		opacity: 0;
	}

	&:hover {
		&:before, .svg-icon {
			opacity: 1;
			visibility: visible;
			transition: opacity 600ms;
			transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);

		}
	}
}

.section-help {
	min-height: 720px;
	.container {
		margin-top: 90px;	
	}
	.headline {
		font-size: 59px;	
		margin-bottom: 15px;	
	}
}

.form-description {
	padding: 20px 80px 40px 25px;
}

.form-doubled {
	display: flex;

	.contact-form {
		flex-shrink: 0;
	}
}

.contact-form {
	width: 100%;
	box-shadow: 0 0 30px rgba(0, 0, 0, .2);
	background-color: #fff;
	padding: 20px 40px 30px 36px;
	position: relative;

	&--size-small {
		max-width: 455px;
	}
	
	&--size-medium {
		max-width: 655px;
	}

	&:before, &:after {
		content: '';
		width: 100px;
		height: 3px;
		background-color: #f37f7f;
		position: absolute;
		z-index: 10;
	}
	&:before {
		transform: rotate(45deg);
		left: -30px;
		bottom: 15px;
	}
	&:after {
		transform: rotate(45deg);
		right: -30px;
		top: 15px;
	}
}

.form {
	&__header {
		font-size: 30px;
		margin-bottom: 0.55em;
	}

	&__field {
		display: flex;
		flex-direction: column;
		margin-bottom: 25px;

		&-label {
			font-size: 13px;
			text-transform: uppercase;
			font-family: $secondary-font;

			&--bold {
				font-weight: bold;
			}
		}
	}

	

	&__row {
		&--disclamer {
			display: flex;
			align-items: flex-start;
		}
	}

	&__disclamer {
		color: #3e3130;
		font-size: 12px;
		font-family: $secondary-font;
		margin-left: 30px;
	}
}

.ui-input {
	&--normal {
		padding: 15px 20px;
		max-height: 50px;	
	}
	&--search {
		padding: 10px 30px 10px 20px;
		max-height: 50px;
	}
	&--default {
		border-color: #f37f7f;
		background-color: #fff;
	}
	&--grey {
		background-color: #f5f4ea;
		border-color: #f5f4ea;
	}
	&--textarea {
		max-height: 70px;
	}
}

.contact-data {
	&__desc {
		&-text {
			display: block;
			margin-bottom: 45px;
		}
	}
}

.search-form {
	.ui-input {
		width: 100%;
	}
	&__button {
		width: 50px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		background-color: #f5f4ea;
		border: none;
		appearance: none;
		cursor: pointer;
		.svg-icon {
			width: 20px;
			height: 20px;
		}
	}
	&__row {
		width: 100%;
		&--button {
			display: inline-flex;
		}
	}
}

.contact-block {
	&--frame {
		border: 3px solid $bright-pink;
		padding: 40px;
	}

	&__row {
		&:not(:last-child) {
			margin-bottom: 15px;
		}
	}

	&__title {
		font-size: 12px;
		color: rgba(62, 49, 48, .5);
		text-transform: uppercase;
		font-weight: bold;
		font-family: $secondary-font;
		margin-bottom: 7px;
	}

	&__data {
		$self: &;
		font-size: 25px;

		&--link {
			border-bottom: 1px solid;
			&:hover {
				border-bottom: 0;
				text-decoration: none;
				color: $brown;
			}
		}

		&--doubled {
			display: flex;
 		}

		&-row {
			&:not(:last-child) {
				margin-right: 60px;
			}

		}
	}
}

.main-footer {
	padding-top: 85px;
	padding-bottom: 85px;
	font-family: $secondary-font;

	&__spacer {
		margin-bottom: 40px;
	}
}

.footer-links {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	flex-direction: column;

	&__header {
		width: 100%;
		font-size: 30px;
		margin-bottom: 30px;
		font-family: $default-font;
	}
	&__row {
		display: flex;
		justify-content: flex-start;
		width: 100%;
	}
	&__col {
		&:first-child {
			min-width: 190px;	
		}
		padding-right: 10px;
		min-width: 240px;
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	&__item {
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		margin-bottom: 5px;	
		&--big {
			font-family: $default-font;
			font-size: 30px;
			&:not(:last-child) {
				margin-bottom: 10px;
			}
		}
	}
}

.footer-contacts {
	display: flex;
	flex-direction: column;
	&__item {
		&:not(:last-child) {
			margin-bottom: 8px;
		}
	}
}

.page-leafs {
	position: absolute !important;
	top: 0;
	left: 0;
	height: 100%;
	z-index: 2;
	pointer-events : none;
	
	&__container {
		position: absolute;
		z-index: 2;

		&--one {
			top: 1200px !important;
			left: 1300px !important;
		}
		&--two {
			top: 1670px;
			left: 1530px;
		}
		&--three {
			top: 6915px;
			left: 1365px;			
		}
		&--four {
			top: 6670px;
			left: 915px;
		}
		&--five {
			top: 2480px;
			left: 512px;
			&-rep {
				top: 3120px;
				left: 1160px;
			}
		}
		&--six {
			top: 1870px;
			left: 365px;
			&-rep {
				top: 5450px;
				left: 485px;
			}
		}
		&--seven {
			top: 5080px;
			left: 1345px;
		}
		&--ten {
			top: 7180px;
			left: 570px;
		}
		&--eleven {
			top: 3490px;
			left: 535px;
		}
	}
	&__leaf {
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		user-select: none;
		z-index: 2;

		&--one {
			background-image: url('../img/leafs/leaf-1.png');
			width: 69px;
			height: 103px;
			top: 1200px;
			left: 1300px;
		}
		&--two {
			background-image: url('../img/leafs/leaf-2.png');
			width: 105px;
			height: 154px;
			top: 1670px;
			left: 1530px;
		}
		&--three {
			background-image: url('../img/leafs/leaf-3.png');
			width: 135px;
			height: 101px;
			top: 6915px;
			left: 1365px;			
		}
		&--four {
			background-image: url('../img/leafs/leaf-4.png');
			width: 125px;
			height: 102px;
			top: 6670px;
			left: 915px;
		}
		&--five {
			background-image: url('../img/leafs/leaf-5.png');
			width: 85px;
			height: 71px;
			top: 2480px;
			left: 512px;
			&-rep {
				background-image: url('../img/leafs/leaf-5.png');
				width: 85px;
				height: 71px;
				top: 3120px;
				left: 1160px;
			}
		}
		&--six {
			background-image: url('../img/leafs/leaf-6.png');
			width: 113px;
			height: 111px;
			top: 1870px;
			left: 365px;
			&-rep {
				background-image: url('../img/leafs/leaf-6.png');
				width: 113px;
				height: 111px;
				top: 5450px;
				left: 485px;
			}
		}
		&--seven {
			background-image: url('../img/leafs/leaf-7.png');
			width: 122px;
			height: 171px;
			top: 5080px;
			left: 1345px;
		}
		&--eight {
			background-image: url('../img/leafs/leaf-8.png');
			width: 89px;
			height: 75px;
		}
		&--nine {
			background-image: url('../img/leafs/leaf-9.png');
			width: 180px;
			height: 178px;
		}
		&--ten {
			background-image: url('../img/leafs/leaf-10.png');
			width: 91px;
			height: 146px;
			top: 7180px;
			left: 570px;
		}
		&--eleven {
			background-image: url('../img/leafs/leaf-11.png');
			width: 127px;
			height: 139px;
			top: 3490px;
			left: 535px;
		}
	}
}

.mega-menu-wrap {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 900;
	height: 100vh;
	overflow: auto;
	background: $pink url(../img/menu-bg.jpg) center center no-repeat;
	background-size: cover;
}

.mega-menu {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 900;
	

	.container {
		width: 100%;
	}

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 65px;
		padding-top: 40px;
		
		.logo {
			padding: 0;
		}

		.close-button {
			margin-right: 100px;
		}
	}

	&__main {
		margin-bottom: 50px;
	}

	&__header {
		font-size: 55px;
		line-height: 1.1;
		margin-bottom: 50px;
		display: block;
	}

	&__col-menu {
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		&--padding {
			padding-left: 40px;
		}

		&--line {
			&:after {
				margin-top: 60px;
				content: '';
				display: inline-block;
				width: 280px;
				height: 3px;
				background-color: #ffffff;
			}
		}

	}

	&__item {
		&:not(:last-child) {
			margin-bottom: 20px;
		}

		&--big {
			font-size: 48px;
			line-height: 1.2;
			&:not(:last-child) {
				margin-bottom: 40px;
			}
		}
	}

	&__bottom {
		.ui-input--grey,
		.search-form__button {
			background-color: rgba(245, 244, 234, 0.3);
			border-color: rgba(245, 244, 234, 0.3);
		}
	}

	&__info {
		display: inline-flex;
		flex-direction: column;
		margin-right: 50px;
	}
}

.close-button {
	width: 40px;
	height: 40px;
	background-color: #ffffff;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;

	.svg-icon {
		width: 18px;
		height: 18px;
	}
}

.no-scroll {
	overflow: hidden;
}

.page-info {
	background: url(../img/marshmallow-bg.jpg) center center no-repeat;
	background-size: cover;
	padding-top: 70px;
	padding-bottom: 30px;
	&__title {
		font-size: 70px;
		color: #ffffff;
		text-transform: uppercase;
		font-family: $secondary-font;
		opacity: 0.7;
		line-height: 1;
		margin-bottom: 0;
	}
	&__button {
		margin-top: 15px;
		position: relative;

		&:before {
			content: '';
			width: 115px;
			height: 3px;
			background-color: $brown;
			position: absolute;
			user-select: none;
			pointer-events: none;
			z-index: 1;
			top: 20px;
			left: -85px;
		}
	}
	.breadcrumbs {
		margin-top: 40px;
	}
}

.breadcrumbs {
	font-family: $secondary-font;
	font-size: 11px;
	color: rgba(62, 49, 48, .5);
	font-weight: bold;
	&__item {
		color: rgba(62, 49, 48, .5);
		text-transform: uppercase;
		letter-spacing: 0.45px;

		&--active {
			opacity: 1;
			color: rgba(62, 49, 48, .9);
		}
	}
}

.center-links {
	&__item {
		font-size: 30px;
		font-weight: 500;
	}
}

.line-block {
	position: relative;
	display: flex;
	align-items: center;
	&__content {
		background-color: #ffffff;
		position: relative;
		z-index: 2;
		margin-left: auto;
		margin-right: auto;
		display: inline-block;
		padding-right: 10px;
		padding-left: 10px;
	}
	&:before {
		content: '';
		width: 100%;
		height: 3px;
		background-color: #f2f1e5;
		position: absolute;
		top: calc(50% - 2px);
	}
}

.center-links {
	padding-top: 60px;
	padding-bottom: 60px;
}

.catalog-item {
	max-width: 360px;
	font-family: $secondary-font;
	margin-bottom: 30px;

	&__main {
		position: relative;
		height: 510px;
		z-index: 1;

		&-corner {
			position: absolute;
			top: 0;
			left: 0;
			width: 75px;
			height: 75px;
			border-top: 37.5px solid rgba(255, 255, 255, 0.7);
			border-left: 37.5px solid rgba(255, 255, 255, 0.7);
			border-bottom: 37.5px solid transparent;
			border-right: 37.5px solid transparent;
			z-index: 0;
			pointer-events: none;

			span {
				position: absolute;
				top: -28px;
				left: -30px;
				font-size: 13px;
				font-weight: bold;
				color: $bright-pink;
			}
		}

		&-image {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
			overflow: hidden;
			
			img {
				height: 100%;
				width: 100%;
				object-fit: cover;
				object-position: center;
			}
		}
	}

	&__control {
		position: absolute;
		right: 20px;
		top: 50%;
		transform: translateY(-50%);
		display: flex;
		flex-direction: column;
		visibility: hidden;
		opacity: 0;
		transition: opacity .4s ease;
		&-circle {
			background-color: rgba(0,0,0, .3);
			display: inline-flex;
			align-items: center;
			justify-content: center;
			width: 60px;
			height: 60px;
			border-radius: 100%;
			pointer-events: all;
			transition: background-color .3s ease;

			&:not(:last-child) {
				margin-bottom: 10px;
			}
			
			.svg-icon {
				fill: #fff;
				width: 28px;
				height: 28px;
				transition: transform .4s;
				transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.5);
			}

			&:hover {
				background-color: rgba(0,0,0, .5);

				.svg-icon {
					transform: scale(1.1);
				}
			}
		}
	}

	&__one-click {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		text-align: center;
		background-color: transparentize($brown, .3);
		color: #ffffff;
		text-transform: uppercase;
		font-size: 16px;
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 70px;
		font-weight: 800;
		letter-spacing: 1px;
		transition: background-color 300ms ease, opacity .4s ease;
		visibility: hidden;
		opacity: 0;
		&:hover {
			background-color: $brown;
			color: #ffffff;
		}
	}

	&:hover {
		.catalog-item__control,
		.catalog-item__one-click {
			visibility: visible;
			opacity: 1;
		}
	}

	&__description {
		text-align: center;
		margin-top: 10px;
		max-width: 250px;
		margin-right: auto;
		margin-left: auto;
		&-name {
			font-size: 20px;
		}
	}

	&__prices {
		display: flex;
		font-weight: bold;
		align-items: center;
		justify-content: center;

		&-previous {
			position: relative;
			margin-right: 10px;

			&:before {
				content: '';
				position: absolute;
				top: 50%;
				left: -4px;
				width: calc(100% + 4px);
				height: 1px;
				z-index: 1;
				background-color: $bright-pink;
			}
		}

		&-current {
			font-size: 21px;
			&--pink {
				color: $bright-pink;
			}
		}

		&-discount {
			background-color: $brown;
			color: #ffffff;
			font-size: 11px;
			font-weight: 500;
			padding: 7px;
			line-height: 1;
			border-radius: 2em;
			margin-left: 10px;
		}

		.svg-icon {
			width: 16px;
			height: 16px;
		}
	}
}


@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) { //IE 11 hack
	.single-review__image img {
		height: auto;
	}
	.section-insta__image {
		width: auto;
	}
	.section-insta__image img, .catalog-item__main-img img {
			width: auto;
	}
}
@import "media"; // Always at the end
